{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta name="index" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>First page</title>
</head>
<body>

{% load static %}
<img src="{% static 'images/bang.jpg' %}" alt="bang!"
     style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"><br>

<div style="text-align:center;">
    <form action="shortened_url/" method="post">
        {% csrf_token %}
        <label for="long_url_input"></label>
        <input type="text" id="long_url_input" name="long_url_input" style="width:300px;"><br>
        <br><br>
        <input type="submit" value="Get short URL">
    </form>
</div>

</body>
</html>